/* styles/Chats.module.css */
.container {
    display: flex;
    height: 100vh;
  }
  
  .chatsSidebar {
    width: 300px;
    background-color: var(--background);
    overflow-y: auto; /* Добавьте прокрутку для контактов */
    border-right: 1px solid #ccc;
    border-left: 1px solid #ccc;
    color: var(--text);
  }
  
  .chatArea {
    background: var(--background);
    overflow-y: auto; /* Добавьте прокрутку для области чата */
    flex-grow: 1;
    display: flex;
    flex-direction: column; /* Делаем направление элементов столбцом */
    justify-content: space-between; /* Располагаем контент по краям */
  }
  
  .contact {
    display: flex;
    align-items: center;
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s;
    font-weight: 600;
  }
  
  .contact:hover,
  .contact.active {
    background-color: #757575;
  }
  
  .message {
    display: flex; /* Теперь сообщение будет вокруг текста */
    justify-content: space-between; /* Распределите пространство между текстом и временем */
    align-items: flex-end; /* Выравниваем текст и время по нижнему краю */
    width: fit-content;
    max-width: 70%; /* Максимальная ширина сообщения */
    border-radius: 16px; /* Скругленные углы */
    word-wrap: break-word; /* Автоматический перенос слов */
    overflow-wrap: break-word;
    margin-bottom: 15px;
    padding: 10px 20px; /* Больше отступ справа и слева */
    border: none;
    font-size: 0.9rem; /* Уменьшаем размер шрифта */
    line-height: 1.4; /* Расстояние между строками */
  }
  
  .searchInput {
    width: 100%; /* Занимать всю ширину сайдбара */
    padding: 13px;
    margin: 10px 0;
    border-radius: 22px; /* Скругление углов */
    border: none; /* Убираем стандартные рамки */
    outline: none; /* Убираем фокусную рамку */
  }
  
  .userPanel {
    border-bottom: 1px solid var(--text); /* Граница внизу панели пользователя */
    padding: 5px;
  }
  
  .userName {
    font-size: 1em; /* или размер, подходящий для вашего дизайна */
    font-weight: 600; /* жирный текст */
    margin-left: 10px; /* Отступ слева */
    color: var(--text)
  }
  
  .userStatus {
    font-size: 0.9em;
    color: #8696a0; /* цвет текста статуса */
    margin-left: 10px; /* Отступ слева */
  }
  
  .messageInputContainer {
    display: flex;
    padding: 10px;
  }
  
  .messageInput {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px; /* Отступ справа */
    border-radius: 18px; /* Скругление углов */
    border: none; /* Убираем стандартные рамки */
    outline: none; /* Убираем фокусную рамку */
    font-size: 16px; /* Размер шрифта текста */
    background-color: #ebebeb; /* Цвет фона */
  }
  
  .sendMessageButton {
    padding: 10px;
    width: 40px; /* Ширина */
    height: 40px; /* Высота */
    border-radius: 50%; /* Круглая кнопка */
    border: none; /* Убираем стандартные рамки */
    cursor: pointer; /* Изменение курсора на указатель */
    background-color: #ebebeb;
  }
  
  .sendMessageButton:hover {
    background: #8696a0; /* Цвет фона кнопки при наведении */
  }
  
  .messagesContainer {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    flex-grow: 1;
    padding: 20px;
  }
  
  .avatar {
    width: 40px; /* Размер аватара */
    height: 40px; /* Размер аватара */
    border-radius: 50%; /* Делаем аватар круглым */
    margin-right: 10px; /* Отступ справа от аватара */
    object-fit: cover; /* Обеспечивает покрытие элемента картинкой без искажения */
  }
  
  .contactName {
    flex-grow: 1; /* Растягиваем на всё доступное пространство */
  }
  
  .message.sent {
    /* align-self: flex-end; */
    background-color: #f8e4fc;
  }
  
  .message.received {
    /* align-self: flex-start; */
    background-color: #ebebeb;
  }
  
  .messageTime {
    align-self: center; /* Выравниваем время по центру */
    margin-top: 5px; /* Немного опустите время ниже основного текста */
    margin-left: 5px; 
    white-space: normal;
    font-size: 0.75em; /* меньший размер шрифта для времени */
    opacity: 0.6; /* делаем текст времени более прозрачным */
  }
  
  .messageContent {
    overflow-wrap: break-word; /* Переносим длинные слова на новую строку */
  }
  
  .uploadButton {
    width: 40px; /* Ширина */
    height: 40px; /* Высота */
    padding: 10px;
    margin-right: 10px;
    border-radius: 50%; /* Круглая кнопка */
    border: none; /* Убираем стандартные рамки */
    cursor: pointer; /* Изменение курсора на указатель */
    background-color: #ebebeb;
  }
  
  .uploadButton:hover {
    background: #8696a0;
  }
  
  .attachIcon {
    width: 22px;
    height: 22px;
    transform: rotate(45deg);
  }
  
  .replyIcon {
    cursor: pointer;
    color: #6c757d; /* Серый цвет, вы можете выбрать любой другой */
    font-size: 20px; /* Размер иконки */
  }
  
  .messageActions {
    display: flex;
    align-items: center;
  }
  
  .messageContentContainer {
    flex-grow: 1;
    padding-right: 10px; /* Отступ справа для разделения текста и иконки */
  }