* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
    color: var(--text);
  }
  
  body {
    min-height: 100vh;
    background: var(--body);
  }
  
  /*------------Logo-----------*/
  
  /*.sidebar ul li.logo*/
  /*{*/
  /*    margin-bottom: 50px;*/
  /*}*/
  
  /*.sidebar ul li.logo .icon::before*/
  /*{*/
  /*    content: '';*/
  /*    position: absolute;*/
  /*    top: 5px;*/
  /*    right: 6px;*/
  /*    width: 80%; !* увеличиваем размеры *!*/
  /*    height: 80%; !* увеличиваем размеры *!*/
  /*    background: transparent; !* устанавливаем яркий цвет фона *!*/
  /*    border-radius: 50%;*/
  /*    box-shadow: var(--shadow_outer_dark) 5px 5px 7px,*/
  /*    var(--shadow_outer_dark) 5px 5px 7px,*/
  /*    var(--shadow_outer_light) -5px -5px 7px,*/
  /*    var(--shadow_outer_light) -5px -5px 7px;*/
  /*    transition: 0.5s;*/
  /*}*/
  
  .TMP {
    position: absolute;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /*background: transparent;*/
    /*border-radius: 50%;*/
    /*box-shadow: var(--shadow_outer_dark) 5px 5px 7px,*/
    /*var(--shadow_outer_dark) 5px 5px 7px,*/
    /*var(--shadow_outer_light) -5px -5px 7px,*/
    /*var(--shadow_outer_light) -5px -5px 7px;*/
    /*transition: 0.5s;*/
  }
  
  /* .text
  {
      font-size: 15em;
      left: 50vw;
      top: 50vh;
      font-weight: 800;
      text-shadow: var(--shadow_outer_dark) 6px 6px 15px,
      var(--shadow_outer_dark) 6px 6px 15px,
      var(--shadow_outer_light) -6px -6px 15px,
      var(--shadow_outer_light) -6px -6px 15px,
      var(--violet) 0 0 8px;
      color: var(--body);
      transition: 0.5s ease;
  } */
  
  .sidebar ul {
    gap: 0;
  }
  
  .sidebar ul li.logo a {
    font-size: 3em;
    left: -30px;
    font-weight: 800;
    text-shadow: var(--shadow_outer_dark) 3px 3px 7px,
      var(--shadow_outer_dark) 3px 3px 7px,
      var(--shadow_outer_light) -3px -3px 7px,
      var(--shadow_outer_light) -3px -3px 7px, var(--violet) 0 0 2px;
    color: var(--body);
    transition: 0.5s ease;
    gap: 0px;
  }
  
  /*---------------SideBar--------------*/
  
  .sidebar {
    /* position: absolute; */
    top: 0;
    height: 100vh;
    width: 70px;
    background: var(--body);
    transition: 0.5s;
    overflow: hidden;
    padding-left: 10px;
    box-shadow: var(--shadow_outer_dark) 5px 5px 7px;
  }
  
  .sidebar ul {
    position: relative;
    padding: 0;
    width: 100%;
    height: 100vh;
    display: flex;
    /* align-items: start; */
    justify-content: left;
    flex-direction: column;
  }
  
  .sidebar ul li,
  .sidebar .themeSwitcherWrapper {
    position: relative;
    list-style: none;
    width: 250px;
    /*background-color: var(--bg);*/
  }
  
  .sidebar ul li.active,
  .sidebar .themeSwitcherWrapper.active {
    background: var(--body);
    border-top-left-radius: 50px;
    border-bottom-left-radius: 50px;
  }
  
  .sidebar ul li a,
  .sidebar ul li div.themeSwitcher,
  .sidebar .themeSwitcherWrapper,
  .sidebar .profile {
    position: relative;
    text-decoration: none;
    display: flex;
    width: 100%;
    white-space: nowrap;
    justify-content: left;
    align-items: center;
    padding: 5px 15px;
    transition: 0.5s;
    height: 60px;
  }
  
  .sidebar ul li a .icon,
  .sidebar ul li div.themeSwitcher .icon,
  .sidebar .themeSwitcherWrapper .icon,
  .sidebar .profile .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    font-size: 1.2em;
    color: var(--text);
    transition: 0.5s;
  }
  
  .sidebar ul li.active a .icon,
  .sidebar ul li.active div.themeSwitcher .icon,
  .sidebar .themeSwitcherWrapper .icon,
  .sidebar .profile .icon{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 25px;
    height: 25px;
    font-size: 1.2em;
    color: var(--text);
    transition: 0.5s;
  }
  
  .sidebar ul li.active a .icon::before,
  .sidebar ul li.active div.themeSwitcher .icon::before,
  .sidebar .themeSwitcherWrapper .icon::before,
  .sidebar .profile .icon::before {
    content: "";
    position: absolute;
    width: 50px;
    height: 50px;
    background: transparent;
    border-top-left-radius: 50%;
    border-bottom-left-radius: 50%;
    box-shadow: /*var(--shadow_inner_dark) 5px 5px 7px,*/ var(--shadow_inner_dark)
        5px 5px 7px,
      /*var(--shadow_inner_light) -5px -5px 7px,*/ var(--shadow_inner_light) -5px -5px
        7px;
    transition: 0.5s;
  }
  
  /*.sidebar ul li.active a .icon::after*/
  /*{*/
  /*    content: '';*/
  /*    position: absolute;*/
  /*    left: 10px;*/
  /*    width: 50px;*/
  /*    height: 50px;*/
  /*    background: var(--body);*/
  /*    transition: 0.5s;*/
  /*}*/
  
  .sidebar ul li a .icon img,
  .sidebar ul li div.themeSwitcher .icon img,
  .sidebar .themeSwitcherWrapper .icon img,
  .sidebar .profile .icon img {
    position: relative;
    width: 150%;
    height: 150%;
  }
  
  .sidebar ul li a .text,
  .sidebar ul li div.themeSwitcher .text,
  .sidebar .themeSwitcherWrapper .text,
  .sidebar .profile .text{
    position: relative;
    height: 50px;
    display: flex;
    align-items: center;
    font-size: 1em;
    color: var(--text);
    padding-left: 15px;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    transition: 0.5s;
  }
  
  .sidebar ul li:hover a .icon,
  .sidebar ul li:hover a .text,
  .sidebar ul li:hover div.themeSwitcher .text,
  .sidebar ul li:hover div.themeSwitcher .icon,
  .sidebar .themeSwitcherWrapper:hover .icon,
  .sidebar .themeSwitcherWrapper:hover .text,
  .sidebar .profile:hover .icon,
  .sidebar .profile:hover .text {
    color: var(--bg);
  }
  
  .imgLink  {
    /* position: relative;
      top: 0;
      left: 0; */
    width: 60px;
    height: 60px;
    margin-left: 30px;
    margin-top: 20px;
    border-radius: 50%;
    overflow: hidden;
    align-items: center;
    justify-content: center;
  }
  
  .sidebar .imgLink {
    color: inherit;
    text-decoration: none;
    padding: 0;
    width: 60px;
  }
  
  .imgLink img {
    /* position: relative; */
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  /*--------Menu Toggle----------*/
  
  .menuToggle {
    position: relative;
    cursor: pointer;
    width: 50px; /* Set the width of the avatar */
    height: 50px; /* Set the height of the avatar */
    border-radius: 50%; /* Circular avatar */
    overflow: hidden; /* Hide overflow to maintain the circular shape */
    display: flex;
    justify-content: center;
    align-items: center;
    transition: all 0.5s ease;
    margin-top: 10px;
  }
  
  .menuToggle img {
    width: 100%;
    height: auto;
    object-fit: cover;
  }
  
  .overlaySidebar {
    position: fixed; 
    top: 0;
    left: 0;
    width: 250px;
    height: 100%;
    background: var(--body);
    z-index: 999; /* Помещаем поверх всего */
    transition: transform 0.3s ease-in-out;
    transform: translateX(-100%);
    /* box-shadow: 0 0 0 2000px rgba(0, 0, 0, 0.5); */
  }
  
  .overlaySidebarActive {
    transform: translateX(0);
  }
  
  .overlayBackdrop {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 998; /* Помещаем под боковое меню */
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    pointer-events: none; 
  }
  
  .overlayBackdropActive {
    opacity: 1;
    pointer-events: auto; 
  }
  
  /* .toggleElement {
      display: flex;
      justify-content: flex-start; 
      padding-left: 10px; 
    } */
  
  .toggleElement {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 20px;
  }
  
  .toggleElement .text {
    flex-grow: 1;
  }
  
  .bottom {
    position: absolute;
    bottom: 10px;
    left: 0; /* Align to the sidebar */
    width: 100%;
    text-align: left; /* Align text to the left */
    padding-left: 20px; /* Adjust to match your sidebar's padding */
    color: var(--text);
  }
  
  .donate {
    margin-bottom: 5px;
  }
  
  .donate:hover {
    color: var(--violet);
    text-decoration: underline;
  }
  
  .sidebarItem {
    display: flex;
    align-items: center;
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
    color: var(--text);
    /* ...остальные стили */
  }
  
  .sidebarItem:hover {
    background: var(--hover-background);
    /* ...возможные стили при наведении */
  }
  
  /* .sidebar.active .sidebarItem { */
    /* ...стили для активного состояния */
  /* } */
  
  .themeSwitcher {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px 15px;
    cursor: pointer;
    height: 60px;
    width: 100%;
  }
  
  .themeLabel {
    display: flex;
    align-items: center;
  }
  
  /* .toggleWrapper {
  } */
  
  /* .themeSwitcherWrapper { */
    /* padding: 30px !important; */
  /* } */
  
  
  .profileItem {
    border-bottom: 1px solid var(--bg); 
    margin-bottom: 10px;
  }
  
  .profile {
    display: flex;
    align-items: center;
    justify-content: space-between !important; 
    width: 100%; 
    padding: 10px 20px;
    cursor: pointer;
    transition: 0.5s;
    color: var(--text);
  }
  
  .addAccountButton {
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--text);
    padding: 10px 0;
    margin: 5px 0;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
    text-transform: uppercase;
    /* border-bottom: 1px solid var(--bg);  */
  }
  
  .addAccountIcon {
    margin-right: 12px;
    width: 25px;
    height: 25px;
  }
  
  .dropdownClosed {
    max-height: 0;
    transition: max-height 0.5s ease-in-out;
  }
  
  .dropdownOpen {
    width: 100%;
    display: flex;
    max-height: 200px; 
    overflow: hidden;
    transition: max-height 0.5s ease-in-out;
    padding: 5px 15px;
  }
  
  ul li span {
    opacity: 1 !important;
  }